In [2]:
import numpy as np
import pandas as pd

In [3]:
s1 = pd.read_csv("../../Data/marine economy.csv")
s1.head()

,year,category,variable,units,magnitude,source,data_value,flag
0,2007,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,42.1,F
1,2008,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.4,F
2,2009,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.9,R
3,2010,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,40.8,F
4,2011,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.9,F

In [4]:
print(s1.head())

   year                   category                             variable  \
0  2007  Fisheries and aquaculture  Cont. to ME Wage and salary earners
1  2008  Fisheries and aquaculture  Cont. to ME Wage and salary earners
2  2009  Fisheries and aquaculture  Cont. to ME Wage and salary earners
3  2010  Fisheries and aquaculture  Cont. to ME Wage and salary earners
4  2011  Fisheries and aquaculture  Cont. to ME Wage and salary earners

        units magnitude source  data_value flag
0  Proportion    Actual   LEED        42.1    F
1  Proportion    Actual   LEED        39.4    F
2  Proportion    Actual   LEED        39.9    R
3  Proportion    Actual   LEED        40.8    F
4  Proportion    Actual   LEED        39.9    F

In [5]:
type(s1)

pandas.core.frame.DataFrame

In [6]:
#s2 = pd.read_csv("../../Data/marine economy.csv",usecols=['year'],squeeze=True) # this is now not valid
#s2.head()
#type(s2)

In [7]:
#s2 = pd.read_csv("../../Data/marine economy.csv",usecols=['data_value'],squeeze=True) # this is now not valid
#s2.head()
#type(s2)

In [15]:
s2 = pd.read_csv("../../Data/marine economy.csv",usecols=["data_value"]).squeeze()
print(s2.head())
type(s2)

0    42.1
1    39.4
2    39.9
3    40.8
4    39.9
Name: data_value, dtype: float64

pandas.core.series.Series

In [16]:
s3 = pd.read_csv("../../Data/marine economy.csv",usecols=["year",'data_value'],index_col='year').squeeze()
print(s3.head())
type(s3)

year
2007    42.1
2008    39.4
2009    39.9
2010    40.8
2011    39.9
Name: data_value, dtype: float64

pandas.core.series.Series