In [1]:
import numpy as np
import pandas as pd

In [25]:
s1 = pd.read_csv("../../Data/marine economy.csv")
print(s1.head())

   year                   category                             variable  \
0  2007  Fisheries and aquaculture  Cont. to ME Wage and salary earners
1  2008  Fisheries and aquaculture  Cont. to ME Wage and salary earners
2  2009  Fisheries and aquaculture  Cont. to ME Wage and salary earners
3  2010  Fisheries and aquaculture  Cont. to ME Wage and salary earners
4  2011  Fisheries and aquaculture  Cont. to ME Wage and salary earners

        units magnitude source  data_value flag
0  Proportion    Actual   LEED        42.1    F
1  Proportion    Actual   LEED        39.4    F
2  Proportion    Actual   LEED        39.9    R
3  Proportion    Actual   LEED        40.8    F
4  Proportion    Actual   LEED        39.9    F

In [30]:
s1 = pd.read_csv("../../Data/marine economy.csv",usecols=['year','category','source','data_value'],index_col='year').squeeze()
print(s1.head())
type(s1)

                       category source  data_value
year
2007  Fisheries and aquaculture   LEED        42.1
2008  Fisheries and aquaculture   LEED        39.4
2009  Fisheries and aquaculture   LEED        39.9
2010  Fisheries and aquaculture   LEED        40.8
2011  Fisheries and aquaculture   LEED        39.9

pandas.core.frame.DataFrame

In [31]:
s1 = pd.read_csv("../../Data/marine economy.csv",usecols=['year','data_value'],index_col='year').squeeze()
print(s1.head())
type(s1)

year
2007    42.1
2008    39.4
2009    39.9
2010    40.8
2011    39.9
Name: data_value, dtype: float64

pandas.core.series.Series

In [10]:
s1.index

Index([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016,
       ...
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021],
      dtype='int64', name='year', length=714)

In [14]:
s1.values

array([['Fisheries and aquaculture', 'LEED', 42.1],
       ['Fisheries and aquaculture', 'LEED', 39.4],
       ['Fisheries and aquaculture', 'LEED', 39.9],
       ...,
       ['Total marine economy', 'LEED', 39867.0],
       ['Total marine economy', 'LEED', 40593.0],
       ['Total marine economy', 'LEED', 39474.0]],
      shape=(714, 3), dtype=object)

In [18]:
s1.dtypes

category       object
source         object
data_value    float64
dtype: object

In [32]:
s1.name

'data_value'

In [33]:
s1.shape

(714,)

In [34]:
s1.ndim

1

In [35]:
s1.size

714

In [36]:
s1.is_unique

False

In [ ]:
s1.hasnans  # return True if the series contains any NAN (missing) values, otherwise.

True