In [1]:
import numpy as np
import pandas as pd

In [4]:
s1 = pd.read_csv("../../Data/marine economy.csv")
s1.head()

,year,category,variable,units,magnitude,source,data_value,flag
0,2007,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,42.1,F
1,2008,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.4,F
2,2009,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.9,R
3,2010,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,40.8,F
4,2011,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.9,F

In [6]:
s1['source'].unique()

array(['LEED', 'Environmental Accounts'], dtype=object)

In [7]:
s1['flag'].unique()

array(['F', 'R', 'P'], dtype=object)

In [16]:
s1 = pd.read_csv("../../Data/marine economy.csv",usecols=['year','data_value','category'],index_col='category').squeeze()
print(s1.head())
type(s1)

                           year  data_value
category
Fisheries and aquaculture  2007        42.1
Fisheries and aquaculture  2008        39.4
Fisheries and aquaculture  2009        39.9
Fisheries and aquaculture  2010        40.8
Fisheries and aquaculture  2011        39.9

pandas.core.frame.DataFrame

In [17]:
s1.abs()

                           year  data_value
category
Fisheries and aquaculture  2007        42.1
Fisheries and aquaculture  2008        39.4
Fisheries and aquaculture  2009        39.9
Fisheries and aquaculture  2010        40.8
Fisheries and aquaculture  2011        39.9
...                         ...         ...
Total marine economy       2017     38082.0
Total marine economy       2018     38880.0
Total marine economy       2019     39867.0
Total marine economy       2020     40593.0
Total marine economy       2021     39474.0

[714 rows x 2 columns]

In [18]:
s1.idxmax()

year          Fisheries and aquaculture
data_value         Total marine economy
dtype: object

In [21]:
s1.idxmin()

year          Fisheries and aquaculture
data_value              Marine services
dtype: object

In [22]:
s1.min()

year          2007.0
data_value   -6739.0
dtype: float64

In [23]:
s1.max()

year             2021.0
data_value    4611116.0
dtype: float64

In [24]:
len(s1)

714

In [ ]:
s2 = s1.sort_values(na_position='first')

TypeError: DataFrame.sort_values() missing 1 required positional argument: 'by'

In [ ]:
s2 = s1.sort_index()