In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.read_csv("../../Data/marine economy.csv")
s1.head()

,year,category,variable,units,magnitude,source,data_value,flag
0,2007,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,42.1,F
1,2008,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.4,F
2,2009,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.9,R
3,2010,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,40.8,F
4,2011,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.9,F

In [3]:
s1['source'].unique()

array(['LEED', 'Environmental Accounts'], dtype=object)

In [4]:
s1['flag'].unique()

array(['F', 'R', 'P'], dtype=object)

In [5]:
s1 = pd.read_csv("../../Data/marine economy.csv",usecols=['year','data_value'],index_col='year').squeeze()
print(s1.head())
type(s1)

year
2007    42.1
2008    39.4
2009    39.9
2010    40.8
2011    39.9
Name: data_value, dtype: float64

pandas.core.series.Series

In [6]:
s1.abs()

year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 714, dtype: float64

In [7]:
s1.idxmax()

np.int64(2011)

In [8]:
s1.idxmin()

np.int64(2017)

In [9]:
s1.min()

np.float64(-6739.0)

In [10]:
s1.max()

np.float64(4611116.0)

In [11]:
len(s1)

714

In [12]:
s = s1.sort_values(ascending=True,na_position='last') # for value
s

year
2017   -6739.0
2017      -0.2
2020       0.0
2019       0.0
2012       0.0
         ...
2008       NaN
2007       NaN
2008       NaN
2007       NaN
2008       NaN
Name: data_value, Length: 714, dtype: float64

In [13]:
s2 = s1.sort_index(ascending=True,key=None) # for index
s2

year
2007         42.1
2007         41.6
2007    1480564.0
2007     548840.0
2007          1.7
          ...
2021     247311.0
2021          6.3
2021          0.1
2021    2321600.0
2021          3.7
Name: data_value, Length: 714, dtype: float64

In [14]:
s3= s1.add(10,fill_value=0)
s3

year
2007       52.1
2008       49.4
2009       49.9
2010       50.8
2011       49.9
         ...
2017    38092.0
2018    38890.0
2019    39877.0
2020    40603.0
2021    39484.0
Name: data_value, Length: 714, dtype: float64

In [15]:
s1.sub(10,fill_value=0)

year
2007       32.1
2008       29.4
2009       29.9
2010       30.8
2011       29.9
         ...
2017    38072.0
2018    38870.0
2019    39857.0
2020    40583.0
2021    39464.0
Name: data_value, Length: 714, dtype: float64

In [16]:
s1.mul(1,fill_value=0)

year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 714, dtype: float64

In [17]:
s1.div(1,fill_value=0)

year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 714, dtype: float64

In [18]:
s1.pow(2,fill_value=0) # root

year
2007    1.772410e+03
2008    1.552360e+03
2009    1.592010e+03
2010    1.664640e+03
2011    1.592010e+03
            ...
2017    1.450239e+09
2018    1.511654e+09
2019    1.589378e+09
2020    1.647792e+09
2021    1.558197e+09
Name: data_value, Length: 714, dtype: float64

In [19]:
s1.sum()

np.float64(203901235.59999996)

In [20]:
s1.mean() # average

np.float64(290457.60056980053)

In [21]:
s1.median() # middle value when sorted

np.float64(1156.5)

In [22]:
s1.mode

<bound method Series.mode of year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 714, dtype: float64>

In [23]:
s1.mode()

0    0.0
Name: data_value, dtype: float64

In [24]:
s1.count()

np.int64(702)

In [25]:
s1.std()

np.float64(733797.0658753068)

In [26]:
s1.var()

np.float64(538458133887.20935)

In [27]:
s1.isnull()

year
2007    False
2008    False
2009    False
2010    False
2011    False
        ...
2017    False
2018    False
2019    False
2020    False
2021    False
Name: data_value, Length: 714, dtype: bool

In [28]:
mask = s1.isnull()
s1[mask]

year
2007   NaN
2008   NaN
2007   NaN
2008   NaN
2007   NaN
2008   NaN
2007   NaN
2008   NaN
2007   NaN
2008   NaN
2007   NaN
2008   NaN
Name: data_value, dtype: float64

In [29]:
s1.notnull()

year
2007    True
2008    True
2009    True
2010    True
2011    True
        ...
2017    True
2018    True
2019    True
2020    True
2021    True
Name: data_value, Length: 714, dtype: bool

In [30]:
mask = s1.notnull()
s1[mask]

year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 702, dtype: float64

In [31]:
s1.dropna()
s1

year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 714, dtype: float64

In [32]:
s5 = s1.fillna(0)
s5

year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 714, dtype: float64

In [33]:
s5.isnull()

year
2007    False
2008    False
2009    False
2010    False
2011    False
        ...
2017    False
2018    False
2019    False
2020    False
2021    False
Name: data_value, Length: 714, dtype: bool

In [34]:
s5.notnull()

year
2007    True
2008    True
2009    True
2010    True
2011    True
        ...
2017    True
2018    True
2019    True
2020    True
2021    True
Name: data_value, Length: 714, dtype: bool

In [35]:
s1.duplicated()

year
2007    False
2008    False
2009    False
2010    False
2011     True
        ...
2017    False
2018    False
2019    False
2020    False
2021    False
Name: data_value, Length: 714, dtype: bool

In [36]:
mask = s1.duplicated()
s1[mask]

year
2011    39.9
2016    40.8
2017    41.6
2007    41.6
2010    38.6
        ...
2015     1.7
2018     1.5
2019     1.4
2020     1.4
2021     1.2
Name: data_value, Length: 199, dtype: float64

In [37]:
s1.drop_duplicates()
s1

year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 714, dtype: float64

In [38]:
s6 = s1.copy()
s6

year
2007       42.1
2008       39.4
2009       39.9
2010       40.8
2011       39.9
         ...
2017    38082.0
2018    38880.0
2019    39867.0
2020    40593.0
2021    39474.0
Name: data_value, Length: 714, dtype: float64

In [39]:
s7 = s6.replace(42.1,1000)
s7.head(5)

year
2007    1000.0
2008      39.4
2009      39.9
2010      40.8
2011      39.9
Name: data_value, dtype: float64

In [40]:
s1.clip(50,1000) # limit value to a specified minimum and maximum range.

year
2007      50.0
2008      50.0
2009      50.0
2010      50.0
2011      50.0
         ...
2017    1000.0
2018    1000.0
2019    1000.0
2020    1000.0
2021    1000.0
Name: data_value, Length: 714, dtype: float64

In [41]:
s1.cumsum(skipna=False) # computes the cumulative sum of series values, For Ex: 1,1+2,1+2+3

year
2007     42.1
2008     81.5
2009    121.4
2010    162.2
2011    202.1
        ...
2017      NaN
2018      NaN
2019      NaN
2020      NaN
2021      NaN
Name: data_value, Length: 714, dtype: float64

In [43]:
s1.cumprod(skipna=True) # computes the cumulative product of series values, For Ex: 1,1*2,1*2*3

e:\DATA SCIENCE\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: RuntimeWarning: overflow encountered in accumulate
  return bound(*args, **kwds)
e:\DATA SCIENCE\venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: RuntimeWarning: invalid value encountered in accumulate
  return bound(*args, **kwds)

year
2007    4.210000e+01
2008    1.658740e+03
2009    6.618373e+04
2010    2.700296e+06
2011    1.077418e+08
            ...
2017             NaN
2018             NaN
2019             NaN
2020             NaN
2021             NaN
Name: data_value, Length: 714, dtype: float64