In [1]:
import pandas as pd

In [7]:
s1 = pd.read_csv("../../Data/marine economy.csv")
s1.head()

,year,category,variable,units,magnitude,source,data_value,flag
0,2007,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,42.1,F
1,2008,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.4,F
2,2009,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.9,R
3,2010,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,40.8,F
4,2011,Fisheries and aquaculture,Cont. to ME Wage and salary earners,Proportion,Actual,LEED,39.9,F

In [3]:
type(s1)

pandas.core.frame.DataFrame

In [4]:
s1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 714 entries, 0 to 713
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   year        714 non-null    int64
 1   category    714 non-null    object
 2   variable    714 non-null    object
 3   units       714 non-null    object
 4   magnitude   714 non-null    object
 5   source      714 non-null    object
 6   data_value  702 non-null    float64
 7   flag        714 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 44.8+ KB

In [11]:
d = s1['magnitude'].str.replace('A','a')
d

0      actual
1      actual
2      actual
3      actual
4      actual
        ...
709    actual
710    actual
711    actual
712    actual
713    actual
Name: magnitude, Length: 714, dtype: object

In [12]:
s1['category'].str.lower()

0      fisheries and aquaculture
1      fisheries and aquaculture
2      fisheries and aquaculture
3      fisheries and aquaculture
4      fisheries and aquaculture
                 ...
709         total marine economy
710         total marine economy
711         total marine economy
712         total marine economy
713         total marine economy
Name: category, Length: 714, dtype: object

In [13]:
s1['category'].str.upper()

0      FISHERIES AND AQUACULTURE
1      FISHERIES AND AQUACULTURE
2      FISHERIES AND AQUACULTURE
3      FISHERIES AND AQUACULTURE
4      FISHERIES AND AQUACULTURE
                 ...
709         TOTAL MARINE ECONOMY
710         TOTAL MARINE ECONOMY
711         TOTAL MARINE ECONOMY
712         TOTAL MARINE ECONOMY
713         TOTAL MARINE ECONOMY
Name: category, Length: 714, dtype: object

In [21]:
s1['source'].str.contains('a',case=False)

0      False
1      False
2      False
3      False
4      False
       ...
709    False
710    False
711    False
712    False
713    False
Name: source, Length: 714, dtype: bool

In [24]:
s = pd.Series(['ABC', 'Def'])
result = s.str.contains('A', case=True)
result

0     True
1    False
dtype: bool

In [35]:
s1['category'].str.len()

0      25
1      25
2      25
3      25
4      25
       ..
709    20
710    20
711    20
712    20
713    20
Name: category, Length: 714, dtype: int64

In [36]:
s1['category'].str.strip() # Removes leading and trailing characters (default: whitespace) from strings.

0      Fisheries and aquaculture
1      Fisheries and aquaculture
2      Fisheries and aquaculture
3      Fisheries and aquaculture
4      Fisheries and aquaculture
                 ...
709         Total marine economy
710         Total marine economy
711         Total marine economy
712         Total marine economy
713         Total marine economy
Name: category, Length: 714, dtype: object